@font-face { font-family: exo; src: url('exo.ttf'); } 
body {
  margin: 0;
}
  h1 {
  color: white;
  font-family: exo;
  text-align: left;
}
  h2 {
  color: white;
  font-family: exo;
}
   p {
  color: white;
  font-family: exo;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9c9c9c;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: exo
}
li a:hover {
  background-color: #005b63;
}
a {
  color: #FFFFFF;
  font-family: exo
}
